body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

h1 {
    color: #38bdf8;
}

h2 {
    color: #22c55e;
}

ul {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}
